@model Annexio4.Models.RegionViewModel
@{
    ViewBag.Title = "Region";
}
<h2>@ViewBag.Title.</h2>

<table>
    <tr>
        <td>Region</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Population</td>
        <td>@Model.Population</td>
    </tr>
    <tr>
        <td>Countries in region</td>
        <td>@foreach (var item in Model.Countries)
        {
            @item<br />
        }</td>
    </tr>
    <tr>
        <td>Subregions</td>
        <td>
            @foreach (var item in Model.Subregions)
            {
                @item<br />
            }
            </td>
    </tr>
</table>


